.homeWrapper {
  width: var(--main-width);
  min-height: 150vh;
  padding: 100px 0 0 0;
  display: flex;
  align-items: flex-start;
}

.left,
.right {
  width: 50%;
  height: 100%;
}

.left {
  position: sticky;
  top: 100px;
}

.left > .title {
  font-size: 35px;
  line-height: 35px;
  color: var(--main-font-color);
}

.left > .introduce {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  margin: 16px 0 0 0;
  color: var(--main-font-color);
}

.left > .description {
  font-size: 12px;
  line-height: 12px;
  margin: 16px 0 0 0;
  color: var(--main-font-description-color);
}

.left > .linkArea {
  display: flex;
  margin: 80px 0 0 0;
}

.left > .linkArea > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.left > .linkArea > ul > li {
  font-size: 15px;
  line-height: 15px;
  text-transform: capitalize;
  color: var(--main-font-description-color);
  cursor: pointer;
  transition: color 0.3s ease, padding 0.3s ease;
}

.left > .linkArea > ul > li.active {
  color: var(--main-font-color);
  position: relative;
  padding: 0px 0px 0px 20px;
}

.left > .linkArea > ul > li::after {
  content: "";
  width: 0px;
  transition: width 0.3s ease;
}

.left > .linkArea > ul > li.active::after {
  content: "";
  width: 15px;
  border-top: 1px solid var(--main-font-color);
  position: absolute;
  top: 50%;
  left: 0px;
}

.left > .contactArea {
  width: 100%;
  display: flex;
  gap: 15px;
  margin: 80px 0 0 0;
}

.left > .contactArea > a > svg {
  width: 25px;
  height: 25px;
  fill: var(--main-font-description-color);
  transition: fill 0.3s ease;
  opacity: 0.5;
}

.left > .contactArea > a > svg:hover {
  fill: var(--main-font-color);
}

.right > .introduceArea {
  margin: 0px 0px 80px 0px;
  padding: 0px 15px 0px 15px;
}

.right > .introduceArea > p {
  font-size: 15px;
  line-height: 20px;
  white-space: pre-line;
  color: var(--main-font-description-color);
}

.right > .introduceArea > p > strong {
  font-weight: 700;
  color: var(--main-font-color);
  opacity: 0.7;
}

.right > .portfolioArea {
  margin: 0px 0px 30px 0px;
}

.right > .portfolioArea > .title {
  font-size: 25px;
  line-height: 25px;
  margin: 0px 0px 10px 0px;
  color: var(--main-font-color);
}

.right > .portfolioArea > .projectArea {
  display: flex;
  padding: 15px;
  gap: 15px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.right > .portfolioArea > .projectArea:hover {
  border-radius: 5px;
  background-color: var(--portfolio-box-hover-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.right > .portfolioArea > .projectArea > .projectImage {
  width: 100px;
  height: 56px;
  border-radius: 2px;
}

.right > .portfolioArea > .projectArea > .projectInfoArea {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.right > .portfolioArea > .projectArea > .projectInfoArea > .projectTitle {
  font-size: 15px;
  line-height: 15px;
  color: var(--main-font-color);
}

.right
  > .portfolioArea
  > .projectArea
  > .projectInfoArea
  > .projectDescription {
  font-size: 13px;
  line-height: 15px;
  color: var(--main-font-description-color);
}
