.homeWrapper {
  width: var(--main-width);
  min-height: 150vh;
  padding: 100px 0 0 0;
  display: flex;
  align-items: flex-start;
}

.left,
.right {
  width: 50%;
  height: 100%;
}

.left {
  position: sticky;
  top: 100px;
}

.left > .title {
  font-size: 35px;
  line-height: 35px;
  color: var(--main-font-color);
}

.left > .introduce {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  margin: 16px 0 0 0;
  color: var(--main-font-color);
}

.left > .description {
  font-size: 12px;
  line-height: 12px;
  margin: 16px 0 0 0;
  color: var(--main-font-description-color);
}

.left > .linkArea {
  display: block;
  margin: 80px 0 0 0;
}

.left > .linkArea > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.left > .linkArea > ul > li {
  font-size: 15px;
  line-height: 15px;
  color: var(--main-font-description-color);
  cursor: pointer;
}

.left > .linkArea > ul > li.active {
  color: var(--main-font-color);
  position: relative;
  padding: 0px 0px 0px 20px;
}

.left > .linkArea > ul > li.active::after {
  content: "";
  width: 15px;
  border-top: 1px solid var(--main-font-color);
  position: absolute;
  top: 50%;
  left: 0px;
}

.right > .introduceArea > p {
  font-size: 15px;
  line-height: 20px;
  white-space: pre-line;
  color: var(--main-font-description-color);
}

.right > .introduceArea > p > strong {
  font-weight: 700;
  color: var(--main-font-color);
  opacity: 0.7;
}
