:root {
  --main-font-color: #2c2c2c;
  --navbar-bg-color: #ffffff;
  --footer-bg-color: #2d2c30;
  --border-main-color: #f3f3f3;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: calc(100vh + 100px);
}

.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}