:root {
  --main-width: 1050px;
  --main-bg-opacity: 1;
  --main-bg-color: rgb(15 23 42 / var(--main-bg-opacity));
  --main-font-color: #e6e6e6;
  --navbar-bg-color: none;
  --navbar-bg-opacity: 0.8;
  --navbar-down-bg-color: rgb(15 23 42 / var(--navbar-bg-opacity));
  --footer-bg-color: #0e0f13;
  --border-main-color: #f3f3f3;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
}

::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
